<h1>Show my kitten information:</h1>

<h3>Kitten name: <%= @kitten.name %></h3>
<p>Kitten age: <%= @kitten.age %></p>
<p>Kitten cuteness scale: <%= @kitten.cuteness %></p>
<p>Kitten softness scale: <%= @kitten.softness %></p>

<%= link_to "Delete", kitten_path(@kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
